<!DOCTYPE html>
<html  lang="ro">   
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Lumea portarilor ofera o gama larga de manusi profesionale si accesorii destinate portarilor .">
        <meta name="keywords" content="manusi de portar, manusi de portar profesionale, fotbal ">
        <title>Lumea portarilor</title>
        <%- include("../fragmente/head.ejs") %>     
    </head>
    <body>
    <%- include("../fragmente/header.ejs") %> 
    <hr class="page-break">
    <main>
        <div id="grid-pagina">
            <section id="welcome">
                <h2>Bine ati venit</h2>
        
                <p class="intro">Bine ati venit in <span style="color:#5C80B8;">Lumea portarilor</span>!Site-ul nostru oferă o gamă extinsă de produse, oferind o soluție profesională pentru toți portarii, de la ligile inferioare pana la cele superioare, indiferent de cerințele dumneavoastră.</p>
                <p class="intro">Ne dorim să găsești echipamentul perfect pentru portar care găsește balanta perfecta între marime, confort și calitate.Cu siguranta, noi va putem oferi asta. </p>
            
            </section> 
             
            <section id="oferte">
                <h2>Oferte</h2>
                <article>
                    <figure>
                        <picture>
                          <source media="(max-width: 767px)" srcset="/Resurse/Imagini/ucl-300px.jpg">
                          <source media="(min-width: 768px) and (max-width: 1023px)" srcset="/Resurse/Imagini/ucl-400px.jpg">
                          <source media="(max-width: 1024px)" srcset="/Resurse/Imagini/ucl-600px.jpg">
                          <img src="/Resurse/Imagini/ucl-600px.jpg" alt="Descriere imagine">
                        </picture> 
                    <figcaption><b>Noaptea UCL</b></figcaption>
                    
                    </figure>
                      
                    <h3 class="titlu">Super oferta de Champions League <i class="fa-solid fa-futbol fa-bounce"></i></h3>
                    
                    <p>In zilele in care se vor desfasura meciuri de fotbal in competitia europeana Champions League , daca comandati o pereche de manusi oarecare ,veti beneficia de o reducere de <b> <s>5%</s> <ins>10%</ins></b> si transport gratuit!</p> 
                    <p>Pentru a fi la curent cu noutatile din aceasta competitie, accesati link-ul <a href=https://www.uefa.com/uefachampionsleague/ target="_blank" id="link-UCL"> noutati </a></p>
                </article>
                <div class="starred-hr-div">
                    <hr class="starred-hr" />
                </div>
                <article>
                    <h3>Oferta de Duminica <i class="fa-sharp fa-solid fa-gift "></i> </h3>
                    <p class="text-animat">Atentie!</p>  <p>La fiecare pereche de manusi achizitionata, primesti cadou din partea noastra o geanta in care iti poti tine manusile noi achizitionate.</p>
                   
                </article>        
            </section>

            <section id="recomandate">
                <h2>Recomandate pentru tine</h2>
                <div id="manusi_recomandate">
                    <figure id="fig1" class="fg-img">
                    <img src="/Resurse/Imagini/fig1.jpg " alt="adidas X Speedportal Pro" width="260" height="200">
                    <figcaption>
                        <h3><small>Adidas x Speedportal Pro</small></h3>
                        <p><em><span style="color: red;">430 Ron</span></em></p>
                    </figcaption>
                    </figure>

                    <figure id="fig2" class="fg-img">
                    <img src="/Resurse/Imagini/fig2.jpg " alt="Puma ULTRA ULTIMATE 1 NC" width="260" height="200">
                    <figcaption>
                        <h3><small>Puma ULTRA ULTIMATE 1 NC</small></h3>
                        <p><em><span style="color: red;">620 Ron</span></em></p>
                    </figcaption>
                    </figure>

                    <figure id="fig3" class="fg-img">
                    <img src="/Resurse/Imagini/fig3.jpg " alt="Reusch Pure Contact Infinity" width="260" height="200">
                    <figcaption>
                        <h3><small>Reusch Pure Contact Infinity</small></h3>
                        <p><em><span style="color: red;">460 Ron</span></em></p>
                    </figcaption>
                    </figure>

                    <figure id="fig4" class="fg-img">
                    <img src="/Resurse/Imagini/fig4.jpg " alt="ONE Invictus Stealth +" width="260" height="200">
                    <figcaption>
                        <h3><small>ONE Invictus Stealth +</small></h3>
                        <p><em><span style="color: red;">400 Ron</span></em></p>
                    </figcaption>
                    </figure>

                    <figure id="fig5" class="fg-img">
                    <img src="/Resurse/Imagini/fig5.jpg " alt="Nike Phantom Elite" width="260" height="200">
                    <figcaption>
                        <h3><small>Nike Phantom Elite</small></h3>
                        <p><em><span style="color: red;">395 Ron</span></em></p>
                    </figcaption>
                    </figure>

                    <figure id="fig6" class="fg-img">
                    <img src="/Resurse/Imagini/fig6.jpg " alt="Nike GK Spyne" width="260" height="200">
                    <figcaption>
                        <h3><small>Nike GK Spyne</small></h3>
                        <p><em><span style="color: red;">460 Ron</span></em></p>
                    </figcaption>
                    </figure>
                    
                    <figure id="fig7" class="fg-img">
                    <img src="/Resurse/Imagini/fig7.jpg " alt="ONE Geo 3.0 Aqua" width="260" height="200">
                    <figcaption>
                        <h3><small>ONE Geo 3.0 Aqua</small></h3>
                        <p><em><span style="color: red;">336 Ron</span></em></p>
                    </figcaption>
                    </figure>

                    <figure id="fig8" class="fg-img">
                    <img src="/Resurse/Imagini/fig8.jpg " alt="Adidas Predator Pro" width="260" height="200">
                    <figcaption>
                        <h3><small>Adidas Predator Pro</small></h3>
                        <p><em><span style="color: red;">404 Ron</span></em></p>
                    </figcaption>
                    </figure>
                </div>
            </section>

            <section id="anunturi">
                <h2>Anunturi</h2>
                <p id="Reusch">In urmatoarele saptamani vor introduce pe site o colectie noua de manusi de portar de la Reusch!!Nu mai merita nicio introducere. Acestia au colaborari cu unii din cei mai buni portari la ora actuala precum Hugo Lloris, Unai Simon sau Wojciech Szczęsny.</p>
            </section>

            <section id="utilizatori_online">
                <h2>Utilizatori</h2>
                <p>
                    Ip: <%- locals.ip %>
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis eros vitae quam mollis facilisis sed quis nisi. Integer diam quam, porttitor sit amet ligula ac, scelerisque ullamcorper enim. Morbi scelerisque ac lectus non facilisis. Proin egestas neque justo, id vehicula nisl ornare sit amet.</p>
            </section>

            <section id="statistici">
                <h2>Statistici</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis eros vitae quam mollis facilisis sed quis nisi. Integer diam quam, porttitor sit amet ligula ac, scelerisque ullamcorper enim. Morbi scelerisque ac lectus non facilisis. Proin egestas neque justo, id vehicula nisl ornare sit amet.</p>
            </section>

            <section id="best">
                <h2>Cele mai vandute</h2>
                <table id="tab-best">
                    <caption>Clasament</caption>
                    <thead>
                        <tr>
                            <th>Top</th>
                            <th>Denumire</th>
                            <th>Pret</th>
                            <th>Disponibilitate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td rowspan="3">Top 3</td>
                          <td>Adidas Predator Edge </td>
                          <td>448 Ron</td>
                          <td>Nu e in stoc</td>
                        </tr>
                        <tr>
                            <td>Nike Vapor Grip 3</td>
                            <td>600 Ron</td>
                            <td>In stoc</td>
                        </tr>
                        <tr>
                            <td>Reusch Pure Contact</td>
                            <td>550 Ron</td>
                            <td>In stoc</td>
                          </tr>
                        <tr>
                            <td>Mentiune</td>
                            <td>ONE Invictus Stealth +</td>
                            <td>400 Ron</td>
                            <td>In stoc</td>
                        </tr>
                      </tbody>
                      
                </table> 
            </section>
        
            <section id="intrebari">
                <h2>Întrebări frecvente</h2>
                    <details><summary>Cum stiu ce pereche de manusi de portar mi se potriveste?</summary>
                        <p>Aceasta este o intrebare ce tine de perspectiva fiecaruia ,dar am atasat un link ce te poate ajuta in alegerea acestora.<a href="https://www.unisportstore.com/blog/7643-ultimate-goalkeeper-glove-guide/" target="_blank" id="link-editat">Ghid</a> </p>
                    </details>
                    
                    <details><summary>Cum aleg marimea pentru perechea de manusi de portar dorita?</summary>
                        <p>Am atasat o poza ce te poate ajuta.<a href="/PROIECT-TEHNICI-WEB/Resurse/Imagini/ghid_marimi.jpg" id="ghid" download> Click </a></p>
                    </details>   
            </section>
        </div>            
            <section id="galerie-statica">
                <h2>Galerie</h2>                
                <div id="grid-galerie">
                    <% for (let imag of locals.imagini) { 
                    let d = new Date();
                    var v_ore=["0", "1", "2","3","4","5","6","7","8","9","10","11","12", "13", "14","15","16","17","18","19","20","21","22","23"]
                    if (imag.timp && imag.timp.includes(v_ore[d.getHours()])) {          
                    %>
                        
                            <figure>
                                <picture>
                                    <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                                    <img src="<%- imag.fisier %>" alt="imagine">
                                </picture>
                                <figcaption><%- imag.descriere %></figcaption>
                            </figure>
                        <% }  %>
                    <% }  %>
                </div>    
            </section>    
            <section id="feedback">
                <h2>Feedback</h2>
                <ul class="feedback-list">
                    <li>
                        <div class="feedback-rating">
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            
                        </div>
                        <p class="text"><i><q>Servicii foarte bune si produse de calitate. Recomand cu incredere!</q></i></p>
                        <p class="autor">- Razvan Vasilache</p>
                    </li>
                    <li>
                        <div class="feedback-rating">
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            
                        </div>
                        <p class="text"><i><q>Am achizitionat o pereche de manusi cadou pentru fiul meu .Le adora.<i>Big like!</i></q></i></p>
                        <p class="autor">- Anca Popescu</p>
                    </li>
                    <li>
                        <div class="feedback-rating">
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star" style="color:gold;">&#9733;</span>
                            <span class="star">&#9734;</span>
                        </div>
                        <p class="text"><i><q>Preturi decente ,dar unele produse nu mai sunt in stoc"</q></i></p>
                        <p class="autor">- Alex Mihailescu</p>
                    </li>
                </ul>
                
            </section>   
        
            <section id="videoclipuri">
                <h2 id="text">Videoclipuri</h2>
               
                <p>Cateva din perechile de manusi de portar de pe site-ul nostru testate pe Youtube: </p>
                <div class="container-iframe">
                    <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/S7tqYjDkj4k" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                            class="tab-content"></iframe>
                    <div class="taburi-iframe">
                        <a href="https://www.youtube.com/embed/O0bnYJc3I6k" class="tab-link " target="ifr-video">Puma Ultra Ultimate</a>
                        <a href="https://www.youtube.com/embed/6v584AAlZPI" class="tab-link" target="ifr-video">One Geo 3.0</a>
                        <a href="https://www.youtube.com/embed/S7tqYjDkj4k" class="tab-link" target="ifr-video">Adidas Predator Pro</a>
                    </div>
                </div>
                <p>Link-ul atasat te va directiona pe pagina colaboratorului nostru de pe Youtube ce probeaza diferite perechi de manusi si realizeaza diferite tipuri de videoclipuri: <a href=https://www.youtube.com/@ARSGoalkeeping target="_blank" id="link-editat"> Link </a></p>  
                
            </section>

            
    </main>

    <hr class="page-break">
    <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>